* {
    box-sizing: border-box;
}

.leaderboard {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.leaderboard thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.leaderboard th, td {
    padding: 12px 15px;
}
.leaderboard tbody tr {
    border-bottom: 1px solid #dddddd;
}

.leaderboard tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.leaderboard tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.leaderboard th, tr, td {
    border: 1px solid black;
}