<HTML>
    <head>
         <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}/>
         <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
<body>
    The LPΔ value is being compared to players lp from {{date}} at 1:00 am
    <br> btw you can click usernames to go to users opgg page :D
    <br> All stats are for solo/duo queue only, flex numbers are removed because that mode is for losers</br>
    <br> Players must have finished ranked placement games to be on the list.
    <input type="text" id="myInput" onkeyup="search()" placeholder="Search for names..">
    <div>
      {% set count = namespace(value=1) %}
      <table id="rnk" class="rnk">
        <thead>
          <tr>
            <th>Rnk#</th>
          </tr>
        </thead>
        <tbody id='rnk-body'>
        {% for key, value in playerDict.items()%}
        <tr>
        <td>{{count.value}}</td>
        {% set count.value = count.value + 1 %}
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <table id="leaderboard" class="leaderboard">
        <thead>
        <tr>
            <th onclick="sortAlpha('name')">Name </th>
            <th onclick="sortNum('level')">Level</th>
            <th onclick="sortNum('mmr')">Tier</th>
            <th onclick="sortNum('wins')">Wins</th>
            <th onclick="sortNum('losses')">Losses</th>
            <th onclick="sortNum('totalgames')">Total Games</th>
            <th onclick="sortNum('winrate')">Winrate</th>
            <th onclick="sortNum('lpdelta')">LPΔ</th>
            <th onclick="sortNum('dailywins')">daily games</th>
            <th onclick="sortNum('yesterday')">Yesterday's Δ</th>
        </tr>
        </thead>
        <tbody id='leaderboard-body'>
        {% for key, value in playerDict.items()%}
        <tr data-name={{key}} data-level={{value[0]}} data-wins={{value[7]}} data-losses={{value[8]}} data-totalgames={{value[7]+value[8]}} data-winrate={{value[7]/(value[7]+value[8]+1)}} data-mmr={{value[4]}} data-lpdelta={{value[5]}} data-dailywins={{value[6]}} data-yesterday={{value[9]}} class='leaderboard-row'>
            <td> <a class="opgg" href="http://localhost:8080/{{key}}" target="_blank">{{key}}</a></td>
            <td> {{value[0]}}</td>
            <td> <a class="opgg" href="https://na.op.gg/summoner/userName={{key}}" target="_blank"> {{value[1]}} {{value[2]}} {{value[3]}}LP </a></td>
            <td>{{value[7]}}</td>
            <td> {{value[8]}}</td>
            <td> {{value[7] + value[8]}}</td>
            <td> {{'%0.2f' | format((value[7] / (value[7] + value[8]+1))*100)}}% </td>
            <td> {{value[5]}}</td>
            <td>{{value[6]}}</td>
            <td>{{value[9]}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    <table class="leaderboard">
      <thead>
        <tr>
          <th>WINNERS QUEUE PLAYERS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          {%if winnerDict["none"] == "none"%}
            <td>NO WINNERS QUEUE D:</td>
          {%else%}
          {%for person, streak in winnerDict.items()%}
            <td> {{person}} with a streak of {{streak}}</td>
          {%endfor%}
          {%endif%}
        </tr>
        </tbody>
      </table>

      <table class="leaderboard">
        <thead>
          <tr>
            <th>LOSERS QUEUE PLAYERS</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            {%if loserDict["none"] == "none"%}
              <td>NO LOSERS QUEUE :D</td>
            {%else%}
            {%for person, streak in loserDict.items()%}
              <td> {{person}} with a streak of {{streak}}</td>
            {%endfor%}
            {%endif%}
          </tr>
          </tbody>
        </table>
    </div>

    Thanks to KC (Kalichi) for helping with a lot of the javascript stuff :D

    <script src={{ url_for('static', filename='script.js') }}></script>
  </body>
</HTML>
